body{
	background-color:$gray;
	font-family:$font-family;
	color:$off-white;
	height:auto !important;
	overflow:visible !important;
}

img{
	max-width:100%;
	height:auto;
}

a{
	// font-size:1.8em;
	color:$creme;
	text-decoration:none;
	//text-align:center;

	&:hover,
	&:active,
	&:focus{
		color:$dark-gray;
	}
}

p{
	font-weight:$brandon-reg;
	font-size:1.6em;
	line-height:1.4;
	text-align:center;

}

strong{
	font-weight:$brandon_bold;
	text-transform:uppercase;
}

figcaption{
	font-size:1.8em;
	text-transform:uppercase;
	color:$off-white;
	width:90%;
	display: block;
	text-align:right;
	font-weight: $brandon_bold;
	letter-spacing:.3em;
}

//Helper classes
.fixed{
	position:fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}


.overlay{
	background:#000000;

		img{
			display:block;
			opacity:.8;
		}
}

//--__Pushes certain elements out in the viewport using z-index (for parallax elements)
.viewport-bulge{
	position:relative;
	z-index:10;
}

//--__Wayfinder styling, added with click in mesh.js file
.clicked{
	a{
		color:$light-gray;
	}
	
}

//Header styles

header{
	//position:absolute;
	width:100%
}

.logo{
	text-align:center;
	width:100%;
	position: absolute;
	cursor:pointer;
	img{
		max-width:100%;
		height:auto;
		margin-top:2em;
		max-width:8em;
	}
}

//Menu

.nav-wrap{
	// display:none;
	width:100%;
	top:0;
	position:absolute;
	z-index: 500;
}

.main-navigation{
	//background:$dark_gray;
	height:45px;

	.container{
		width:100%;
	}

	.sidr-close{
		display:none;
	}

	.nav-bg{
		background:$dark_gray;
		height:45px;
		display:none;

	}

	#headerMenuLeft{
		//margin-left:13.33333%;
		text-align:right;

		ul{
			li:nth-child(3){
				// padding-right:0;
			}
		}
	}
	ul{
		list-style-type: none;
		li{
			display:inline-block;
			padding:10px 20px 10px 0;
			margin:0;
			a{
				font-size:1.4em;
				color:$off-white;
				text-decoration:none;
				text-transform:uppercase;

				&:hover,
				&:focus,
				&:active{
					color:$gray;
				}
			}
		}
	}
}

@media only screen and (max-width:750px){
	.main-navigation{
		#headerMenuRight,
		#headerMenuLeft{
			display:none;
		}
		ul{
			li{
				a{
					font-size:1.2em;
				}
			}
		}
	}
}

//Page layout
.home-section{
	height:100vh;
	width:100%;
	top:0;
	margin:0;
	position: fixed;
	background-size:cover;
	background-position: center center;
	background-repeat:no-repeat;
	display:flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
 	background-color: #ccc;
  	background-blend-mode: multiply;

  	.logo-img{
  		max-width:80%;
  	}

  	.down{
  		position:absolute;
  		width:100%;
  		bottom:2.5em;
  		.content{
  			text-align:center;
  		}
  		img{
  			max-width:15px;
  		}
  	}
}

.fullwidth{
	background-color:$gray;
	width:100%;
	margin-top:100vh;
    position: relative;
    padding-top:50px;

    .content{
    	width:90%;
    	margin:0 auto;
    }
}

.img-portrait{
	width:300px;
	height:419px;
}

.img-landscape{
	height:360px;
	width:503px;
}

.img-about{
	height:503px;
	width:399px;
}

@media only screen and (max-width:750px){
	.img-portrait{
		width:300px;
	}

	.img-landscape{
		width:300px;
	}

	.img-about{
		width:300px;
	}

	
}

@media only screen and (max-width:650px){
	[class^="img-"]{
		margin:0 auto;
	}
}

// .img-portrait{
// 	width:500px;
// 	height:750px;
// }

[class^="img-"]{
	background-blend-mode: multiply;
	background-color:#ccc;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

section{
	position:relative;
	//z-index:10;
	min-height:500px;
	margin:4em 0 0 0;

	h3{
		// width:60%;
	}

	article{
		position:relative;
		z-index:10;
		// overflow:hidden;
		height:60vh;
	}

	.section-logo{
		//position:absolute;
		text-align:left;
		clear:both;
		&.even{
			text-align:right;
		}
	}

	.panel-img{
		position:absolute;
		z-index:-1;
		// background:#000000;

		// img{
		// 	display:block;
		// 	opacity:.8;
		// }
		//left:initial !important;
	}

	&#mission{
		width:80%;
		margin:6em auto 0 auto;
		.panel-img{
			right:10%;
			//top:10%;

		}

		h3{
			width:70%;
			margin:2em 0 0 0;
		}
	}

	&#services{
		.section-logo{
			padding-right:20%;
		}

		.additional-service-title{
			margin:0;
		}

		.additional-service-content{
			p{
				text-align:left;
			}
		}
		
	}

	&#accessories{
		.vert-product,
		.horiz-product{
			position:absolute;

		}

		.vert-product{
			left:15%;
			bottom:0;
			z-index:5;
		}

		.horiz-product{
			right:10%;
			top:20%;
		}

		.accessories-statement{
			width:90%;
			margin:0 auto;
			position:relative;
			z-index:10;
		}
	}

	&#tips{
		.tip-content{
			.tip-title{
				text-align:center;
				margin:0;
			}
		}

		.tip-block{
			display:flex;
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			align-items: center;
		}

		.polyvore{
			position:relative;

			div{
				width:100% !important;
				margin:0 auto;
				font-size:1.6em;
			}

			div:first-child{
				background:#000000;
				a{
					
					img{
						display:block;
						opacity:.8;
					}
				}
			}

			div:nth-of-type(2){
				font-size:1.6em;
				display:none;
			}

			p{
				display:none;
			}

			img{
				width:100%;
				height:auto;
			}
		}
	}

	&#about{
		.au-content-top,
		.au-content-bottom{
			width:80%;
			margin:3em auto;
		}

		.au-img-content{
			position:relative;
			height:100vh;
			width:80%;
			margin:0 auto;
			
		}

		.au-img{
			position:absolute;
			left:15%;
			top:5%;
			max-width:400px;
		}

		.sig-img{
			position:absolute;
			right:0;
			bottom:0;
		}
	}

	&#contact{

		p{
			text-align:left;
		}

		input,
		textarea{
			border-radius:0;
			border:2px solid $dark-gray;
			background:$gray;
			width:100%;
			font-size:1.8em;
			margin-bottom:0;
		}

		textarea{
			height:400px;
			margin-bottom:1em;
		}

		input[type="text"],
		input[type="email"]{
			padding:15px;
		}

		input[type="submit"]{
			background-color:$creme;
			color:$dark-gray;
			border:transparent;
			padding:15px 0;

			&:hover,
			&:active,
			&:focus{
				background-color:$dark-gray;
				color:$creme;
			}
		}

		.contact-form{
			width:80%;
			margin:0 auto;
			p{
				padding:0;
				margin:0;
			}

			.wpcf7-response-output.wpcf7-mail-sent-ok{
				display:inline-block;
				width:100%;
				text-align:center;
				border:2px solid $dark-gray;
				padding:15px 0;
				font-size:1.8em;
				text-transform:uppercase;
				margin:0;
			}
		}
		
	}

}

@media only screen and (max-width:1100px){
	section{
		&#accessories{

			.vert-product{
				left:5%
			}
			
			.horiz-product{
				right:5%;
			}
		}
	}
}
@media only screen and (max-width:900px){
	section{

		&#services{
			.service-block{
				height:auto;
			}
		}

		&#accessories{

			.vert-product{
				left:0;
			}
			
			.horiz-product{
				right:0;
			}

			figcaption{
				font-size:1.4em;
			}
		}
	}
}

@media only screen and (max-width:750px){
	section{
		.intro{
			width:100%;
		}
		article{
			height:auto;
		}

		.panel-img{
			position:static;
		}

		&#mission{
			h3{
				margin:2em auto 0 auto;
				width:100%;
			}
		}

		&#accessories{
			.vert-product,
			.horiz-product{
				figcaption{
					width:100%;
				}
			}
		}

		&#tips{
			.tip-block{
				display:block;
			}
		}

		&#about{
			.au-content-top,
			.au-content-bottom{
				width:100%;
				margin:3em auto;
			}

			.au-img-content{
				position:relative;
				height:auto;
				width:100%;
				margin:0 auto
			}

			.au-img{
				position:static;
				
			}

			.sig-img{
				position:static;
			}
		}

		&#contact{
			.contact-form{
				width:100%;
			}
			
		}
	}
}

@media only screen and (max-width:650px){
	section{
		&#accessories{

			.product-wrapper{
				height:auto;
			}

			.vert-product{
				text-align:left;
				position:static;
				width:300px
			}
			.horiz-product{
				position:static;
				//margin-bottom:2em;
				width:300px;
				//text-align:right;
			}

			.vert-product,
			.horiz-product{
				text-align:center;
				margin:0 auto;
			}

		}
	}
}

@media only screen and (max-width:550px){
	section{
		&#mission{
			.panel-img{
				display:none;
			}
		}

		&#accessories{
			.vert-product,
			.horiz-product{
				text-align:center;
				position:static;
				margin-bottom:2em;
			}
		}

	}

}

input::-webkit-input-placeholder{
	text-transform: uppercase;
}
input::-moz-placeholder{
	text-transform: uppercase;
}
input:-ms-input-placeholder{
		text-transform: uppercase;
	}

.intro{
	text-align:center;
	margin:2em auto 0 auto;
	width:80%;

}


.cta{
	text-align:center;
	margin:4em 0;
	.cta-link{
		padding-right:45px;
		background-image:url('img/arrows/sidearrow.png');
		background-repeat:no-repeat;
		background-position:right center;
		background-size:30px;
		font-size:1.8em;
		text-transform:uppercase;

		&:hover,
		&:focus,
		&:active{
			background-image:url('img/arrows/sidearrow-hover.png');

		}
	}
}

.service-container{
	// text-align:left;
	position: relative;

	img{
		max-width:100%;
		height:auto;
	}
	ul{
		list-style-type:none;
		li{
			cursor:pointer;

			.service-title{
				text-align: center;
				margin:0;
				color:$creme;
			}
			
			ul.services-nav{
				position:absolute;
				width:100%;
				left:-999999px;
				top:0;
				height:100%;
				display:flex;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				align-items: center;

				.service-content{
					font-size:1.6em;
					ul{
						margin-bottom:.5em;
					}
				}

				.service-sub{
					// display:flex;
					// display: -webkit-box;
					// display: -moz-box;
					// display: -ms-flexbox;
					// display: -webkit-flex;
					// align-items: center;
				}


				li{

				}

			}

			&:hover,
			&:active,
			&:focus{
				.service-title{
					color:$light-gray;
				}

				ul.services-nav{
					left:100%;	
				}
			}

			&.active{
				ul.services-nav{
					left:100%;	
				}
			}	
		}
			
	}

	.service-type{
		color:$dark-gray;
		position: relative;
		margin:0;

		&:before{
			content:url('img/arrows/single-asterik.png');
		    position: absolute;
		    left: -27px;
		    top: -2px;
		}
	}
}

@media only screen and (max-width:750px){
	.service-container{
		ul{
			li{
				ul.services-nav{
					position:static;
					display:none;

					.row-arrow{
						display:none;
					}
				}
			}
		}
	}
}

.service-content{
	ul{
		list-style-type: disc;
		list-style-position: outside;
	}
}

.service-block{
	height:80vh;
	display:flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	align-items: center;
	// justify-content: center;
}

@media only screen and (max-width:750px){

	.service-block{
		display:block;
	}
}

.product-wrapper{
	position:relative;
	height:80vh;
	z-index:5;
}

@media only screen and (max-width:550px){
	.product-wrapper{
	height:auto;
	}
}

//Social nav

.social-nav{
	text-align:center;
	ul{
		list-style-type: none;
		li{
			display:inline-block;
			margin-right:2em;
			background-repeat:no-repeat;
			background-size:contain;
			background-position: center center;
			width:53px;
			height:53px;

			&.facebook{
				background: url('img/social_sprite.png') no-repeat -2px -12px;

					&:hover,
					&:active,
					&:focus{
						background: url('img/social_sprite.png') no-repeat -2px -88px;
					}
				}

				&.instagram{
					background: url('img/social_sprite.png') no-repeat -190px -12px;

					&:hover,
					&:active,
					&:focus{
						background: url('img/social_sprite.png') no-repeat -190px -88px;
					}

				}

				&.mail{
					background: url('img/social_sprite.png') no-repeat -66px -12px;

					&:hover,
					&:active,
					&:focus{
						background: url('img/social_sprite.png') no-repeat -66px -88px;
					}
				}

				&.twitter{
					background: url('img/social_sprite.png') no-repeat -129px -12px;

					&:hover,
					&:active,
					&:focus{
						background: url('img/social_sprite.png') no-repeat -129px -88px;
					}

				}

			a{
				width:53px;
				height:53px;
				
			}
			
		}
	}
}

//Footer styles
footer{
	//font-size:1.4em;
	text-align:center;
	background:$dark-gray;
	padding:10px 0;
	position:relative;
	p{
		margin:0;
		padding:0;
	}

	a{
		&:hover,
		&:focus,
		&:active{
			color:$light-gray;
		}
	}
}


//sidr

.sidr-trigger{
	color:$creme;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size:1.6em;
    position:relative;
    z-index:100;
    cursor:pointer;

    &:hover,
    &:focus,
    &:active{
    	color:$light-gray;
    }
}

.sidr{
	// font-size:1.8em;
	background-color:$dark-grey;

	.columns{
		float:none;
	}

	.sidr-close{
		//height:45px;
		padding:10px 20px;
		color:white;
		text-transform: uppercase;
		font-size:1.8em;
		cursor:pointer;

		&:hover,
		&:active,
		&:focus{
			color:$light-grey;
		}
	}

	ul{
		list-style-type:none;
		margin-left:20px;
		margin-bottom:0;
		li{
			margin:10px 0;
			a{
				color:$creme;
				text-transform: uppercase;
				font-size:1.6em;

				&:hover,
				&:active,
				&:focus{
					color:$light-gray;
				}
			}
		}
	}
}

//Mobile helpers

.desktop-hide{
	display:none;
}

@media only screen and (max-width:750px){
	.desktop-hide{
		display:block;
	}
}


//Accessibility
.sr-only{
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	overflow:hidden;
	clip:rect(0, 0, 0, 0);
	border:0;
}
